.row
			.col-12
				h4 Badges
				p Badges can be used for smaller counts and acts as labeling components. Included in Lido are several styles of badges &mdash; each with it's own semantic purpose.
				.badge.badge--default 1
				.badge.badge--primary 2
				.badge.badge--success 3
				.badge.badge--danger 4
				.badge.badge--warning 5
				.badge.badge--info 6
				.h6.u-text--primary Modifiers
				.badge.badge--primary Default
				.badge.badge--primary.badge--lg Large
			.col-12
				pre.line-numbers
					code.language-markup
						| &lt;div class=&quot;badge badge--default&quot;&gt;1&lt;/div&gt;
						| &lt;div class=&quot;badge badge--primary&quot;&gt;2&lt;/div&gt;
						| &lt;div class=&quot;badge badge--success&quot;&gt;3&lt;/div&gt;
						| &lt;div class=&quot;badge badge--danger&quot;&gt;4&lt;/div&gt;
						| &lt;div class=&quot;badge badge--warning&quot;&gt;5&lt;/div&gt;
						| &lt;div class=&quot;badge badge--info&quot;&gt;6&lt;/div&gt;
						| &lt;div class=&quot;badge badge--primary&quot;&gt;Default&lt;/div&gt;
						| &lt;div class=&quot;badge badge--primary badge--lg&quot;&gt;Large&lt;/div&gt;
				hr