.row
	.col-12
		h4 Buttons
		h6.u-text--default Button Styles
		p Included in Lido are several styles of buttons &mdash; each with it's own semantic purpose.
		button.button.button--default(type="button") Default
		button.button.button--primary(type="button") Primary
		button.button.button--success(type="button") Success
		button.button.button--danger(type="button") Danger
		button.button.button--warning(type="button") Warning
		button.button.button--info(type="button") Info
	.col-12
		pre
			code.language-markup
				| &lt;button class=&quot;button button--default&quot; type=&quot;button&quot;&gt;Default&lt;/button&gt;
				| &lt;button class=&quot;button button--primary&quot; type=&quot;button&quot;&gt;Primary&lt;/button&gt;
				| &lt;button class=&quot;button button--success&quot; type=&quot;button&quot;&gt;Success&lt;/button&gt;
				| &lt;button class=&quot;button button--danger&quot; type=&quot;button&quot;&gt;Danger&lt;/button&gt;
				| &lt;button class=&quot;button button--warning&quot; type=&quot;button&quot;&gt;Warning&lt;/button&gt;
				| &lt;button class=&quot;button button--info&quot; type=&quot;button&quot;&gt;Info&lt;/button&gt;
	.col-12
		h6.u-text--default Button Modifiers
		p Size modifiers are also included to make sure buttons fit with various containers
		button.button.button--primary(type="button") Default Size
		button.button.button--primary.button--sm(type="button") Small Size
		button.button.button--primary.button--lg(type="button") Large
	.col-12
		pre
			code.language-markup
				| &lt;button class=&quot;button button--primary&quot; type=&quot;button&quot;&gt;Default Size&lt;/button&gt;
				| &lt;button class=&quot;button button--primary button--sm&quot; type=&quot;button&quot;&gt;Small Size&lt;/button&gt;
				| &lt;button class=&quot;button button--primary button--lg&quot; type=&quot;button&quot;&gt;Large &lt;/button&gt;
		hr