.row
			.col-12
				h4 The Grid
				p A 12-column, lightweight grid to help you quickly build responsive websites. Leave the default settings or modify the configration settings to test grid width, gutters, breakpoints, etc.
				p Each column is contained within rows, which are contained within a container. The container is set to a maximum width of 960px by default.
			.col-12
				.demo .col-12
			.col-6
				.demo .col-6
			.col-6
				.demo .col-6
			.col-4
				.demo .col-4
			.col-8
				.demo .col-8
			.col-10
				.demo .col-10
			.col-2
				.demo .col-2
.row
	.col-12
		pre
			code.language-markup
				| &lt;div class=&quot;container&quot;&gt;
				| 	&lt;div class=&quot;row&quot;&gt;
				| 			&lt;div class=&quot;col-12&quot;&gt;
				| 					&lt;div class=&quot;demo&quot;&gt;.col-12&lt;/div&gt;
				| 			&lt;/div&gt;
				| 			&lt;div class=&quot;col-6&quot;&gt;
				| 					&lt;div class=&quot;demo&quot;&gt;.col-6&lt;/div&gt;
				| 			&lt;/div&gt;
				| 			&lt;div class=&quot;col-6&quot;&gt;
				| 					&lt;div class=&quot;demo&quot;&gt;.col-6&lt;/div&gt;
				| 			&lt;/div&gt;
				| 			&lt;div class=&quot;col-4&quot;&gt;
				| 					&lt;div class=&quot;demo&quot;&gt;.col-4&lt;/div&gt;
				| 			&lt;/div&gt;
				| 			&lt;div class=&quot;col-8&quot;&gt;
				| 					&lt;div class=&quot;demo&quot;&gt;.col-8&lt;/div&gt;
				| 			&lt;/div&gt;
				| 			&lt;div class=&quot;col-10&quot;&gt;
				| 					&lt;div class=&quot;demo&quot;&gt;.col-10&lt;/div&gt;
				| 			&lt;/div&gt;
				| 			&lt;div class=&quot;col-2&quot;&gt;
				| 					&lt;div class=&quot;demo&quot;&gt;.col-2&lt;/div&gt;
				| 			&lt;/div&gt;
				| 	&lt;/div&gt;
				| &lt;/div&gt;
		hr