.row
			.col-12
				h4 Typography
				p Lido uses Muli, from Google Fonts, as a default typeface. The font size for semantic elements is based on rem units, therefore every item can be responsively-sized by targeting only a single property.
				p To simplify sizing, Lido is configured to make sure 1rem = 10px out-of-the-box, but can easily be configured with a single change.
.row
			.col-12
				h1 Heading 1
				h2 Heading 2
				h3 Heading 3
				h4 Heading 4
				h5 Heading 5
				h6 Heading 6
				p This is normal paragraph text. 
					strong This is Bold Text, 
					| and 
					em This is Italic Text
				p
					small This is Small Text
				p
					blockquote This is a Blockquote
			.col-12
				pre
					code.language-markup
						| &lt;h1&gt;Heading 1&lt;/h1&gt;
						| &lt;h2&gt;Heading 2&lt;/h2&gt;
						|  &lt;h3&gt;Heading 3&lt;/h3&gt;
						|  &lt;h4&gt;Heading 4&lt;/h4&gt;
						|  &lt;h5&gt;Heading 5&lt;/h5&gt;
						|  &lt;h6&gt;Heading 6&lt;/h6&gt;
						|  &lt;p&gt;This is normal paragraph text. &lt;strong&gt;This is Bold Text, &lt;/strong&gt;and &lt;em&gt;This is Italic Text&lt;/em&gt;&lt;/p&gt;
						|  &lt;p&gt;
						|   &lt;small&gt;This is Small Text&lt;/small&gt;
						|  &lt;/p&gt;
						|  &lt;p&gt;
						|    &lt;blockquote&gt;This is a Blockquote&lt;/blockquote&gt;
						|  &lt;/p&gt;
				hr