// Demo

.demo-container {
	border:1px solid $grapa--green;
	padding: 5px;
	width:100%;
	&.grid {
		text-align:center;
		background: transparentize($grapa--green, .9);
		color: $grapa--green;
	}
	.button {
		margin-bottom: 1rem;
	}
}

#hero {
	padding-top: 200px;
	padding-bottom: 200px;
	border-bottom: 1px solid grey(lightest);
	margin-bottom: 25px;
	h1 {
		margin:0;
		padding: 0;
		font-weight: 900;
		color: $grapa--green;
	}
}
.nav {
	&__logo {
		svg {
		}
		&:hover, &:focus {
			.sun {
				fill: darken($yellow, 10%);
				cy: 65;
				transition: 200ms;
			}
			.wordmark {
				fill: grey(darkest);
				transition: 200ms;
			}
			.red {
				stop-color: $red--dark;
				transition: 200ms;
			}
			.yellow {
				stop-color: $pink--dark;
				transition: 200ms;
			}
			.water-bottom {
				stop-color: $blue--dark;
				transition: 200ms;
			}
		}
	}
}