// Colors

$pink: rgba(255, 159, 243,1.0);
$pink--dark: rgba(243, 104, 224,1.0);

$yellow: rgba(254, 202, 87,1.0);
$yellow--dark: rgba(255, 159, 67,1.0);


$red: rgba(255, 107, 107,1.0);
$red--dark: rgba(238, 82, 83,1.0);

$teal: rgba(72, 219, 251,1.0);
$teal--dark: rgba(10, 189, 227,1.0);

$green: rgba(29, 209, 161,1.0);
$green--dark: rgba(16, 172, 132,1.0);

$blue: rgba(84, 160, 255,1.0);
$blue--dark: rgba(46, 134, 222,1.0);

$purple: rgba(95, 39, 205,1.0);
$purple--dark: rgba(52, 31, 151,1.0);

$grey: (
 	darkest	: rgba(34, 47, 62,1.0),
		dark				:	rgba(87, 101, 116,1.0),
		light			: rgba(131, 149, 167,1.0),
		lightest: rgba(200, 214, 229,1.0)
);

@function grey($x:base) {
  @return map-get($grey,$x);
}

@function gray($x:base) {
  @return map-get($grey,$x);
}

$grapa--green: #00d1b2;
$grapa--blue: #79cbca;
$grapa--pink: #e684ae;

@mixin gradient {
	background: $grapa--green;
	background: linear-gradient(to right, $grapa--green, $grapa--blue, $grapa--pink);
}

// State Maps

$primary: $blue;
$primary--dark: $blue--dark;

$success: $green;
$success--dark: $green--dark;

$danger: $red;
$danger--dark: $red--dark;

$warning: $yellow;
$warning--dark: $yellow--dark;

$info: $teal;
$info--dark: $teal--dark;

// Typography
@import url('https://fonts.googleapis.com/css?family=Muli:400,700,900');

$font: 'Muli';
$font-stack: $font, arial, sans-serif;

body {
	font-family: $font-stack;
	line-height: 1.6;
	color: grey(darkest);
}

h1 {
  font-size: 2.5rem;
		font-weight: 900;
}

h2 {
 font-size: 2rem;
	font-weight:700;
}

h3 {
  font-size: 1.375rem;
		font-weight:700;
}

h4 {
  font-size: 1.125rem;
		font-weight:700;
}

h5 {
  font-size: 1rem;
		font-weight:700;
}

h6 {
  font-size: 0.875rem;
		font-weight:700;
}

p {
  font-size: 1.125rem;
		font-weight:400;
}

// Nav
.nav {
	width: 100%;
	box-shadow: 0px 3px 6px rgba(grey(darkest), .12);
	padding-top:1rem;
	padding-bottom: 1rem;
	position:relative;
	margin-bottom:1.5rem;
	&__stripe {
		position: absolute;
		width: 100%;
		height: 5px;
		top:0;
		@include gradient;
	}
}

.demo-container {
	border:1px solid $grapa--green;
	padding: 5px;
	width:100%;
	&.grid {
		text-align:center;
		background: transparentize($grapa--green, .9);
		color: $grapa--green;
	}
}

#hero {
	padding-top: 200px;
	padding-bottom: 200px;
	border-bottom: 1px solid grey(lightest);
	margin-bottom: 25px;
	h1 {
		margin:0;
		padding: 0;
		font-weight: 900;
		color: $grapa--green;
	}
}