/* Grid Config
======================================================*/

// this is the fixed gutter between columns
$maxWidth: 			60em !default;

// Grid check
$gridDebug:			true !default;

// Grid settings
$width: 96%;
$gutter: 4% !default;
$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px



// Debug Colors

$pink: rgba(255, 159, 243,1.0);
$pink--dark: rgba(243, 104, 224,1.0);

$yellow: rgba(254, 202, 87,1.0);
$yellow--dark: rgba(255, 159, 67,1.0);

$red: rgba(255, 107, 107,1.0);
$red--dark: rgba(238, 82, 83,1.0);

$teal: rgba(72, 219, 251,1.0);
$teal--dark: rgba(10, 189, 227,1.0);

$green: rgba(29, 209, 161,1.0);
$green--dark: rgba(16, 172, 132,1.0);

$blue: rgba(84, 160, 255,1.0);
$blue--dark: rgba(46, 134, 222,1.0);

$purple: rgba(95, 39, 205,1.0);
$purple--dark: rgba(52, 31, 151,1.0);

$grey: (
 	darkest	: rgba(34, 47, 62,1.0),
		dark				:	rgba(87, 101, 116,1.0),
		light			: rgba(131, 149, 167,1.0),
		lightest: rgba(200, 214, 229,1.0)
);

@function grey($x:base) {
  @return map-get($grey,$x);
}

@function gray($x:base) {
  @return map-get($grey,$x);
}

// State Maps

$primary: $blue;
$primary--dark: $blue--dark;

$success: $green;
$success--dark: $green--dark;

$danger: $red;
$danger--dark: $red--dark;

$warning: $yellow;
$warning--dark: $yellow--dark;

$info: $teal;
$info--dark: $teal--dark;