// Helpers / Utilities

.u-full-width {
  width: 100%;
}

.u-max-full-width {
  max-width: 100%;
}

@each $pull in right, left {
  .u-pull--#{$pull} {
    float: #{$pull};
  }
}

@each $text-align in right, left, center, justify {
  .u-text--#{$text-align} {
    text-align: #{$text-align};
  }
}

.u-disabled{
  cursor: default;
  opacity: .5;
  pointer-events: none;
}

/**
 * Clear inner floats
 */
.u-clearfix {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

.u-hidden-sm {
  display: none;
}