section.features
	.container
		.row
			.col-6
				.features__item
					img.features__icon(src="http://placeholder.pics/svg/150x150")
					.features__body
						h4.features__title Lightweight
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras congue augue mauris.
			.col-6
				.features__item
					img.features__icon(src="http://placeholder.pics/svg/150x150")
					.features__body
						h4.features__title Modular
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras congue augue mauris.
			.col-6
				.features__item
					img.features__icon(src="http://placeholder.pics/svg/150x150")
					.features__body
						h4.features__title Responsive
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras congue augue mauris.
			.col-6
				.features__item
					img.features__icon(src="http://placeholder.pics/svg/150x150")
					.features__body
						h4.features__title Adaptable
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras congue augue mauris.